<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="send-sample-string-button">서버로 샘플 문자열 전송</button>
    <button id="send-sample-int-button">서버로 샘플 정수 전송</button>
    <button id="send-sample-double-button">서버로 샘플 double 전송</button>
    <button id="send-sample-object-button">서버로 샘플 단순 객체 전송</button>
    <button id="send-sample-array-button">서버로 샘플 array 전송</button>
    <button id="send-sample-objectList-button">서버로 샘플 객체 배열 전송</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/sample.js"></script>
</body>
</html>